* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.ant-layout-header {
  padding: 24px 0;
  height: auto;
  background: #f1f3ff;
}

.ant-menu {
  background: #f1f3ff;
  height: 36px;
  align-items: center;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected a,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover a {
  color: #0d28a6 !important;
}

.ant-menu-horizontal > .ant-menu-item:after {
  display: none;
}

.ant-menu-horizontal > .ant-menu-item {
  height: 36px;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 34px;
}

.ant-menu-title-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.ant-form-item-label > label {
  font-family: "Helvetica", sans-serif !important ;
}

.container {
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
}

.btn-primary,
.btn-register {
  display: inline-block;
  padding: 8px 12px;
  background: #5cb85f;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff !important;
  border: none;
  cursor: pointer;
  transition: ease 0.3s;
}

.btn-register:hover,
.btn-primary:hover {
  background: #4c964e;
}

.btn-register {
  margin-left: 20px;
}

.btn-outline {
  display: inline-block;
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #0d28a6;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0d28a6;
  cursor: pointer;
  transition: ease 0.3s;
}

.btn-outline:hover {
  color: #ffffff;
  background: #0d28a6;
}

.banner-section {
  padding-top: 21px;
  overflow: hidden;
  background: #f1f3ff;
}

.banner-internal {
  padding-top: 183px;
}

.banner-content {
  padding-top: 72px;
}

.banner-content h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 16px;
  color: #000000;
}

.banner-content p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  width: 468px;
}

.hero {
  width: 704px;
  position: relative;
}

.hero img {
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  background: #0d28a6;
  width: 999em;
  height: 60%;
  border-radius: 60px 0px 0px 0px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.ant-input-number-input,
.ant-picker,
.ant-form-item-control-input,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  min-height: 36px;
  height: 36px;
}

.ant-form-item-label > label {
  font-family: "Rubik";
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3c3c3c;
}

.ant-form-vertical .ant-form-item-label {
  padding: 0 0 4px;
}

.search-wrapper {
  overflow: inherit !important;
}

.search-bar {
  padding: 24px 24px 0 24px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: -46px;
  margin-bottom: -64px;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  position: relative;
}

.search-bar h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 16px;
}

.input-penumpang.ant-input-number-affix-wrapper {
  flex-direction: row-reverse;
  padding-right: 11px;
}

.input-penumpang.ant-input-number-affix-wrapper > .ant-input-number-prefix {
  color: rgba(0, 0, 0, 0.25);
}

.car-result-wrapper {
  padding-top: 104px;
  background: #ffffff;
}

.car-card {
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 24px;
}

.car-card img {
  margin-bottom: 16px;
  width: 100%;
  height: 245px;
  object-fit: cover;
}

.car-card h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 8px;
}

.car-card span.price {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
}

.car-card p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 16px;
}

.car-card .car-details > span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 16px;
}

.car-card .car-details > span:last-child {
  margin-bottom: 0;
}

.car-card .car-details .anticon {
  margin-right: 8px;
  color: #8a8a8a;
}

.car-card a {
  display: block;
  padding: 14px;
  width: 100%;
  background: #5cb85f;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 24px;
  transition: ease 0.3s;
}

.car-card a:hover {
  background: #4c964e;
}

.text-center {
  text-align: center !important;
}

.swiper {
  width: 100%;
  overflow: visible;
}

.testimonial-item {
  padding: 69px 32px 69px 46px;
  background: #f1f3ff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-item .star {
  margin-bottom: 16px;
}

.testimonial-item .profile {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.testimonial-item .testimonial-content {
  padding-left: 46px;
}


.swiper-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  transition: ease 0.5s;
}

.swiper-button:hover {
  background-color: #5cb85f;
}

.swiper-button svg {
  height: 13px;
}

.swiper-button:hover svg > path {
  stroke: #ffffff;
}

.swiper-button-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 88px;
  width: 100%;
  margin: 24px auto 0;
}

footer {
  padding: 100px 0 100px;
  background: #ffffff;
}

footer .address a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #000000;
  display: block;
  margin-top: 16px;
  text-decoration: none;
  transition: ease 0.5s;
}

footer .footer-link {
  padding-left: 70px;
}

footer .footer-link a {
  font-weight: 400;
  color: #000000;
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
  transition: ease 0.5s;
}

footer .address a:hover,
footer .footer-link a:hover {
  color: #0d28a6;
}

footer .footer-link a:last-child {
  margin-bottom: 0;
}

footer .social {
  padding-left: 40px;
}

footer .social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer .social ul > li {
  width: 32px;
  height: 32px;
  background: #0d28a6;
  border: 1px solid #0d28a6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 16px;
  transition: ease 0.5s;
}

footer .social ul > li > a {
  width: 20px;
  height: 20px;
}

footer .social ul > li:hover {
  background-color: #fff;
}

footer .social ul > li:hover svg > path {
  transition: ease 0.5s;
}

footer .social ul > li:hover svg > path {
  stroke: #0d28a6;
}

footer .copyright {
  padding-left: 10px;
}

.footer-menu,
p,
.service li {
  font-weight: 300;
}

section {
  overflow: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

h6,
.h6 {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.text-white {
  color: #fff !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.m-auto {
  margin: auto !important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.why-us__item {
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}

.btn {
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 12px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success {
  color: #fff !important;
  background: #5cb85f;
  border-color: #5cb85f;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.general-section {
  padding: 50px 0;
}

.service ul {
  padding-left: 0px;
  list-style: none;
}

.service li {
  margin-bottom: 16px;
  padding-left: 40px;
  line-height: 24px;
  position: relative;
}

.service li::before {
  content: "";
  background-image: url("@assets/img/list.png");
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
}

.cta {
  padding: 64px;
  background: #0d28a6;
  border-radius: 13px;
  text-align: center;
}

.cta p {
  max-width: 468px;
  margin-bottom: 52px !important;
}

.faq-title {
  padding: 18px 24px;
  cursor: pointer;
}
.collapse {
  max-height: 200px;
  transition: max-height 0.15s ease-out;
}
.collapse:not(.show) {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in;
}

.faq-title div.collapsed::before {
  content: "\f282";
}

.faq-title div::before {
  font-family: "bootstrap-icons";
  content: "\f286";
  float: right;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
}

.hidden {
  display: none;
}

@media (min-width: 1200px) {
  .row-service {
    display: flex;
    align-items: center;
  }
  .row-service > div:first-child {
    padding-right: 70px;
  }
  .section-service .container {
    max-width: 1027px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .row-service > div:first-child {
    padding-bottom: 70px;
    text-align: center;
  }
}

@media (max-width: 992px) {
  footer .footer-link,
  footer .social,
  footer .copyright {
    padding-left: 0px;
  }

  footer {
    padding: 50px 0;
  }
}

@media (min-width: 981px) {
  .section-service {
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  .general-section {
    padding: 30px 0;
  }
  .cta {
    padding: 30px;
  }
  .cta-title {
    font-size: 24px;
    line-height: 36px;
  }
}

/* ANT */
.ant-layout {
  background: none;
}
